<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!--/*@thymesVar id="adminUser" type="templates"*/-->
    <h2 th:text="${session.user.loginName}"></h2>
    <h2 th:text="${session.user.imgUrl}"></h2>
    <a th:href="@{/logout}" title="Click here to log out">退出系统（定制退出页面）</a>
    <a th:href="@{/user/showUser.html}">用户列表</a>
    <a th:href="@{/userInfo1/userAdd}">添加用户</a>
    <a th:href="@{/userInfo/userDel}">删除用户</a>
</body>
</html>